h1, h2, h3, h4, h5, h6 {
    color: rgba(184,179,100);
}

.navColor {
    color: rgba(184,179,100) !important;
}

.form-control {
    background-color: rgb(245, 240, 177);
}

html, body {
    background: url(images/ricepaper2.png);
    height: 100%;
    margin: 0; 
}

.layer {
    background-color: rgba(184, 179, 100, 0.192) !important;
    height: fit-content;
    margin: 0;
}

footer {
    background-color: #4d2b1a;
    color: white;
}

h1 { 
    text-align: center;
}

.nav {
    top: 0px;
    position: fixed;
    width: 100%;
    z-index: 99;
    display: block;
}

.navbar {
    background-color: rgba(32,34,0) !important;
}

.subTitle {
    font-size: 1rem;
}

.header {
    top: 62px !important;
    position: fixed;
    width: 100%;
    z-index: 98;
    background-color: rgb(184,179,100);
}

button, input {
    border-color: rgb(184,179,100) !important;
}

.brewinTitle {
    margi;
}
.darkText {
    color: rgb(32,34,0) !important;
}

#titleHr {
    margin-bottom: 0px;
}

#mainBody {
    position: relative;
    top: 100px !important;
    z-index: 10;

}

.potionCard {
    background-color: white;
}

#buyMore {
    text-align: right !important;
}

.btn-light {
    background-color: #FEF9F0;
}

.btn-light:hover {
    background-color: rgb(190, 184, 172);
}

.fas, .fa-coins {
    color: rgba(255, 215, 0);
}

#potionsBrewin {
    text-align: center !important;
    line-height: 2 !important;
}

.picture {
    width: 150px !important;
    height: 150px;
    max-width: 100%;
    flex: none;
    box-shadow: 3px 3px rgb(102, 99, 55);
}

.cardHr {
    height: 3px;
    margin: 0px;

}

footer {
    background-color: rgba(32,34,0) !important;
    position: relative;
    z-index: 95;
    bottom: 0px;
    width: 100%;
}

@media (max-width: 400px) {
    .secret {margin-top: 80px !important;}
}

@media (max-width: 845px) {
    #buyMore {text-align: center !important;}
    #resource {text-align: center !important;}
  
}